USE [master]
GO
/****** Object:  Database [LosaAdmin]    Script Date: 5/4/2025 11:12:29 PM ******/
CREATE DATABASE [LosaAdmin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LosaAdmin', FILENAME = N'/var/opt/mssql/data/LosaAdmin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LosaAdmin_log', FILENAME = N'/var/opt/mssql/data/LosaAdmin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LosaAdmin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LosaAdmin]
GO
/****** Object:  Table [dbo].[service_security_key]    Script Date: 5/4/2025 11:12:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_security_key](
	[idx] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NULL,
	[token] [varchar](50) NULL,
	[regDate] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
